<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<plugin>
  <extension
      id="application"
      point="org.eclipse.core.runtime.applications">
    <application>
      <run class="org.apache.directory.studio.Application"/>
    </application>
  </extension>
  
  <extension
      id="product"
      point="org.eclipse.core.runtime.products">
    <product
        application="org.apache.directory.studio.rcp.application"
        name="Apache Directory Studio">
      <property
               name="aboutText"
               value="%aboutText"/>

      <property
          name="aboutImage"
          value="resources/pictures/product_lg.gif"/>

      <property
          name="windowImages"
          value="resources/icons/window/studio_16x16.png,resources/icons/window/studio_32x32.png,resources/icons/window/studio_48x48.png,resources/icons/window/studio_64x64.png,resources/icons/window/studio_128x128.png"/>

      <property
          name="appName"
          value="Apache Directory Studio"/>

      <property
          name="startupForegroundColor"
          value="FFFFFF"/>

      <property
          name="startupMessageRect"
          value="10,237,435,20"/>

      <property
          name="startupProgressRect"
          value="0,280,455,15"/>
      <property
            name="preferenceCustomization"
            value="plugin_customization.ini">
      </property>

    </product>
  </extension>

  <extension
      point="org.eclipse.ui.intro">
    <intro
        class="org.eclipse.ui.intro.config.CustomizableIntroPart"
        icon="resources/icons/intro.gif"
        id="studio.intro"/>

    <introProductBinding
        introId="studio.intro"
        productId="org.apache.directory.studio.rcp.product"/>
  </extension>
  
  <extension
      point="org.eclipse.ui.intro.config">
    <config
        introId="studio.intro"
        content="resources/intro.xml"
        id="ApacheDirectoryStudio.configId">
      <presentation
          home-page-id="root">
        <implementation
            kind="html"
            os="win32,linux,macosx"/>
      </presentation>
    </config>
  </extension>

  <extension
      point="org.eclipse.core.runtime.preferences">
    <initializer class="org.apache.directory.studio.preferences.RcpPreferencesInitializer"/>
  </extension>
   
  <extension
      point="org.eclipse.ui.preferencePages">
    <page
        category="org.apache.directory.studio.StudioPreferencePage"
        class="org.apache.directory.studio.preferences.ShutdownPreferencesPage"
        id="org.apache.directory.studio.preferences.ShutdownPreferencesPage"
        name="%PrefPage_ShutdownPreferencesPage_name"/>
  </extension>
   
  <extension
       point="org.eclipse.ui.activities">
    <activity
            description="Hides unwanted UI parts provided by Eclipse"
            id="%RCP_Hide_id"
            name="%RCP_Hide_id"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="false"
        pattern="org.eclipse.debug.ui.*"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="false"
        pattern="org.eclipse.team.*"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="false"
        pattern="org.eclipse.ui.ide.application.*"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.internal.ui.text.TextSearchPage"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.TextSearchFile"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.OpenFileSearchPage"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.TextSearchProject"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.TextSearchWorkspace"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.TextSearchWorkingSet"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/textSearchSubMenu"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.openLocalFile"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.actions.showKeyAssistHandler"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.platform/org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.export.FileSystem"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.import.FileSystem"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.export.ZipFile"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.import.ZipFile"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.import.ExternalProject"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.equinox.p2.ui.importexport/org.eclipse.equinox.p2.replication.import"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.equinox.p2.ui.importexport/org.eclipse.equinox.p2.replication.importfrominstallation"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.equinox.p2.ui.importexport/org.eclipse.equinox.p2.replication.export"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.jdt.ui/org.eclipse.jdt.internal.ui.javadocexport.JavadocWizard"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.jdt.ui/org.eclipse.jdt.internal.ui.jarpackager.JarPackageWizard"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.jdt.ui/org.eclipse.jdt.internal.ui.fatjarpackager.JarPackageWizard"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.views.AllMarkersView"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ProblemView"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.views.TaskList"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.views.BookmarkView"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.views.ResourceNavigator"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.browser/org.eclipse.ui.browser.view"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.ui.views.SearchView"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.SearchResultView"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.views/org.eclipse.ui.views.PropertySheet"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.navigator.resources/org.eclipse.ui.navigator.ProjectExplorer"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.editors/org.eclipse.ui.editors.wizards.UntitledTextFileWizard"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.project"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.folder"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.wizards.new.file"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.Globalization"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.Workspace"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.Perspectives"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.Editors"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.Views"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.Keys"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.ui.preferencePages.ContentTypes"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.browser/org.eclipse.ui.browser.preferencePage"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.search/org.eclipse.search.preferences.SearchPreferencePage"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.compare/org.eclipse.compare.internal.ComparePreferencePage"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.jsch.ui/org.eclipse.jsch.ui.SSHPreferences"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.equinox.security.ui/org.eclipse.equinox.security.ui.category"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.e4.ui.importer.wizard"/>

    <activityPatternBinding
        activityId="%RCP_Hide_id"
        isEqualityPattern="true"
        pattern="org.eclipse.ui.ide/org.eclipse.e4.ui.importer.openDirectory.menu"/>
  </extension>

  <extension
      point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
        targetID="*">
      <hiddenMenuItem id="org.eclipse.ui.run"/>

      <hiddenToolBarItem id="org.eclipse.debug.internal.ui.actions.RunDropDownAction"/>
    </perspectiveExtension>
  </extension>
</plugin>
