<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/e4_classic_winxp.css"
            id="org.eclipse.e4.ui.css.theme.e4_classic"
            label="%theme.classic">
      </theme>
    <theme
        basestylesheeturi="css/e4-dark_linux.css"
        id="org.eclipse.e4.ui.css.theme.e4_dark"
        label="%theme.dark"
        os="linux">
    </theme>
    <theme
        basestylesheeturi="css/e4-dark_win.css"
        id="org.eclipse.e4.ui.css.theme.e4_dark"
        label="%theme.dark"
        os="win32">
    </theme>
    <theme
        basestylesheeturi="css/e4-dark_mac1013.css"
        id="org.eclipse.e4.ui.css.theme.e4_dark"
        label="%theme.dark"
        os="macosx"
        os_version="10.11,10.12,10.13">
    </theme>
    <theme
        basestylesheeturi="css/e4-dark_mac.css"
        id="org.eclipse.e4.ui.css.theme.e4_dark"
        label="%theme.dark"
        os="macosx">
    </theme>
      <theme
            basestylesheeturi="css/e4_default_gtk.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="%theme.gtk"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_mac.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="%theme.mac"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/e4_default_win.css"
            id="org.eclipse.e4.ui.css.theme.e4_default"
            label="%theme.win"
            os="win32"
            os_version="6.0,6.1,6.2,6.3,10.0">
      </theme>
   <theme
         basestylesheeturi="css/e4_classic_win7.css"
         id="org.eclipse.e4.ui.css.theme.e4_classic"
         label="%theme.winClassic"
         os="win32"
         os_version="6.0,6.1,6.2,6.3">
   </theme>
   <theme
		basestylesheeturi="css/high-contrast.css"
        id="org.eclipse.e4.ui.css.theme.high-contrast"
        label="%theme.high-contrast">
   </theme>

   <themeAssociation
		themeId="org.eclipse.e4.ui.css.theme.e4_classic"
		colorAndFontId="org.eclipse.ui.defaultTheme">
   </themeAssociation>
   <stylesheet
         uri="css/dark/e4-dark_preferencestyle.css">
      <themeid
            refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
   </stylesheet>

   </extension>

</plugin>
