Source: windows-binaries
Section: non-free/utils
Priority: extra
Maintainer: Devon Kearns <dookie@kali.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.kali.org
Vcs-Git: ssh://git@git.kali.org/packages/windows-binaries.git
Vcs-Browser: http://git.kali.org/gitweb/?p=packages/windows-binaries.git;a=summary

Package: windows-binaries
Architecture: all
Depends: ${misc:Depends}
Description: Various pentesting Windows binaries
 A collection of Windows executables for use on penetration tests.
